version: "3.6"

services:
  db:
    image: mysql:5.7
    restart: always
    volumes: 
      - ./data/db_data:/var/lib/mysql
    ports: 
      - "3306:80"
    environment: 
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel

  web:
    build: 
      context: ./
      dockerfile: docker/nginx/Dockerfile
    ports: 
      - "8383:80" 
    volumes: 
      - ./code:/code:cached
      - ./docker/nginx/config/default.conf:/etc/nginx/conf.d/default.conf
    links: 
      - php
  
  php:
    build: 
      context: ./
      dockerfile: docker/php/Dockerfile
    working_dir: /code
    volumes: 
      - ./code:/code
    ports: 
      - "9000:80"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    depends_on:
      - db
    ports: 
      - "3000:80"
    environment: 
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    